
/* paragaphe et liste */
p, ul {
  color: #2a2a2a;
  font-family: "Barlow";
  text-align: justify;
}

/* titres */
h1, h2, h3, h4 {
  color: #2a2a2a;
  font-family: "Barlow";
  font-weight: 800;
}

h1 {
  text-transform: uppercase;
}

/* tableaux - avec gt */
/* titres */
th {
  background-color: #2a2a2a !important;
  color: #ffffff !important;
  font-family: "Barlow" !important;
  font-weight: 800 !important;
}

/* colonnes de group */
.gt_group_heading {
  color: #2a2a2a !important;
  font-family: "Barlow" !important;
  font-weight: 800 !important;
}

/* contenu */
td {
  color: #2a2a2a;
  font-family: "Barlow";
}

/* eviter les tableaux multipages */
.gt_table{
  break-inside: avoid;
}

/* numerotation pages */
.pagedjs_margin-content{
  color: #2a2a2a;
  font-family: "Barlow";
  font-weight: 800;
}